/* ------------------ FONTS ------------------ */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.eot');
  src: url('Montserrat-Bold.woff2') format('woff2'),
       url('Montserrat-Bold.woff') format('woff'),
       url('Montserrat-Bold.ttf') format('truetype'),
       url('Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.woff2') format('woff2'),
       url('Montserrat-Regular.woff') format('woff'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/* ------------------ GENERAL ------------------ */
body {
    font-size: 100%;
    overflow-x: hidden;
	position: relative;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
}
::selection {
	background-color: #CEE1F8;
	color: #fff;
}
html a {
    color: #FF4771;
}
html a:hover {
    color: #000;
    text-decoration: none;
}


/* ------------------ FULLPAGE ------------------ */
.full-page {
    position: relative;
    display: table;
    width: 100%!important;
    height: 100%!important;
	margin: 0!important;
	padding: 0!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* ------------------ INTRO ------------------ */
#intro {
    z-index: 10;
	height: 100%;
	top: 0px!important;
    text-align: center;
	font-family: 'Montserrat-Bold';
	background: #FF4771;
}
#intro h1 {
    width: 350px;
	color: #fff;
	font-size: 80px;
	position: fixed;
	left: 50%;
	margin-left: -175px;
	margin-top: 360px;
	z-index: 0;
}
#dwi-image {
	position: fixed;
	top: 0px;
	width: 270px;
	left: 50%;
	margin-left: -135px;
	z-index: 5;
}
#dwi-text {
	position: fixed;
	top: 440px;
	width: 270px;
	left: 50%;
	margin-left: -135px;
	font-size: 35px;
	display: none;
	letter-spacing: 2px;
}


/* ------------------ COOL STUFF ------------------ */
#cool-stuff {
    z-index: 10;
	height: 100%;
	top: 0px!important;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	text-align: center;
}
#content {
    display: table-cell;
    background-color: transparent;
    float: none;
    vertical-align: middle;
    height: 80px;
    top: 0px!important;
    text-align: center;
    z-index: 5;
	padding: 0px 20px 0px 20px;
}
#cool-stuff h2 {
	color: #FF4771;
	font-size: 45px;
	font-family: 'Montserrat-Bold';
	margin-top: -50px;
}
#cool-stuff p {
	color: #6e7277;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#gif-form {
	box-sizing: border-box;
   	width: 520px;
	overflow: hidden;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/*
#gif-form input {
	color: #292929;
	letter-spacing: 2px;
	font-size: 12px;
	line-height: 20px;
	width: 75%;
	background: none;
	outline: none;
	border: 0;
	border-radius: 0;
	margin-bottom: 35px;
	margin-right: 10px;
	text-align: center;
	border-bottom: 1px solid #292929;
	height: 35px;
	box-sizing: border-box;
	vertical-align: bottom;
}
*/
.input__label--hoshi::after {
	margin-top: 1px;
	border-bottom: 2px solid #FF4771;
}
.input {
	max-width: 500px;
	width: 77%;
	margin-left: 0px;
	margin-right: 0px;
	top: -8px;
}
.input__field {
	top: -15px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	color: #6e7277;
}
.input__label--hoshi::before {
	border-bottom: 1px solid #6e7277;
}
#gif-form input[type="submit"] {
	background-color: #FF4771;
	border: 0px solid #000;
	padding: 5px 10px;	
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	width: auto;
	width: 80px;
	font-family: 'Montserrat-Regular';
	font-size: 15px;
	height: 36px;
	letter-spacing: 2px;
}
#gif-form input[type="submit"]:hover {
	background-color: #000;
}
#gif-form ::-webkit-input-placeholder {
	color: #bebebe;
	font-style: italic;
}
#gif-form ::-moz-placeholder {
	color: #bebebe;
	font-style: italic;
}
#gif-form :-ms-input-placeholder {
	color: #bebebe;
	font-style: italic;
}
#gif-form input:-moz-placeholder {
	color: #bebebe;
	font-style: italic;
}
#dragndrop {
	width: 480px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed #6e7277;
	border-radius: 5px;
	line-height: 45px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #6e7277;
	letter-spacing: 1px;
}
#dragndrop span {
	text-decoration: underline;
}
#cool-stuff img {
	position: absolute;
	bottom: 0px;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	border-radius: 5px;
	z-index: 0!important;
}